/* Universal Selector */
* {
  /* Sets the padding and margin for the base content on page */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6,p,a{
  font-family: sans-serif;
}

/* Element Selectors */



p {
  /* Sets the default font size on all paragraph tags */
  font-size: 18px;
}

h1 {
  /* Sets how my name will look*/
  display: inline-block;
  font-size: 48px;
}

h2 {
  /* Sets how much spacing and what font size the h2 tag (About Me) will need */
  margin-bottom: 20px;
  font-size: 36px;
  color: #ffffff;
}

h3 {
  /* Sets how much spacing and what font size the h3 tag (Sample Work) will need  */
  margin-bottom: 10px;
  text-align: center;
  font-size: 36px;
}

h4 {
  /* Sets the font size for the h4 tag (Contact Me)*/
  font-size: 24px;
  color: #ffffff;
}

#name {
  font-size: 48px;
}


/* This sets the color in my contact me footer */
.contactme p {
  color: #ffffff;
}
/* MEDIA QUERIES  moslty to deal with the top and bottom parts of the page*/
@media only screen and (max-width: 799px) {
 
  header {
    padding: 0;
  }

  header nav {
    padding-top: 0;
    margin-right: 0;
  }

  aside {
    margin-top: 20px;
  }

  footer {
    display: inline-block;
    padding: 90px;
    margin: 20%;
  }


  .about-me {
    padding: 40px;
  }

  .contactme {
    display: table-row;
  }
}

@media only screen and (max-width: 320px) {
  h2 {
    font: 20px;
  }

  .content p {
    margin-left: 0%;
  }

  #name a{
    font-size: 28px;
  }
}

.about-img{
  max-width: 273px;
}


.btn-main{
  background-color: #5796b9;
  color:white;
  transition: 300ms ease ;
  width: 150px;

}

.btn-main:hover{
  background-color: #5796b9;
  color:white;
  transform: translateY(-10px);
}

.btn-git{
  background-color: #2d2d2d;
  color:white;
  border: 1px solid white;
  transition: 300ms ease ;
  width: 150px;
}

.btn-git:hover{
  background-color: white;
  color:#2d2d2d;
  transform: translateY(-10px);
}

.footer-link{
  color:white;
  text-decoration: none;
  width: 100%;
  margin: 30px;
  display: block;

}

@media (min-width:768px){
  .footer-link{
    color:white;
    text-decoration: none;
    width: 20%;
    margin: 30px;
    display:inline;
  
  }
}

.footer-link:hover{
  color:#5796b9;
  text-decoration: none;

}

.accent{
  border-left: 10px solid white;
  padding-left: 20px;
}

.lhcustom{
  line-height: 30px;
}

.bg-dark{
  background: #2d2d2d!important;
}

