/* Universal Selector */
* {
  /* Sets the padding and margin for the base content on page */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

/* Element Selectors */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: sans-serif;
}

/* Sets the default font size on all paragraph tags */
p {
  font-size: 18px;
}

/* Sets how my name will look*/
h1 {
  display: inline-block;
  font-size: 48px;
}

/* Sets how much spacing and what font size the h2 tag (About Me) will need */
h2 {
  margin-bottom: 20px;
  font-size: 36px;
  color: #ffffff;
}

/* Sets how much spacing and what font size the h3 tag (Sample Work) will need  */
h3 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 36px;
}
/* Sets the font size for the h4 tag (Contact Me)*/
h4 {
  font-size: 24px;
  color: #ffffff;
}

/* Sets the font size for my name */
#name {
  font-size: 48px;
}

/* This sets the color in my contact me footer */
.contactme p {
  color: #ffffff;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 799px) {
  header {
    padding: 0;
  }

  header nav {
    padding-top: 0;
    margin-right: 0;
  }

  aside {
    margin-top: 20px;
  }

  footer {
    display: inline-block;
    padding: 90px;
    margin: 20%;
  }

  .about-me {
    padding: 40px;
  }

  .contactme {
    display: table-row;
  }
}

@media only screen and (max-width: 320px) {
  h2 {
    font: 20px;
  }

  .content p {
    margin-left: 0%;
  }

  #name a {
    font-size: 28px;
  }
}

/* CSS for bootstrap classes */
/* sets image of me size */
.about-img {
  max-width: 273px;
}

/* gives effects to button as well as color and size */
.btn-main {
  background-color: #5796b9;
  color: white;
  transition: 300ms ease;
  width: 150px;
}
/* button hover effect to go up and change color */
.btn-main:hover {
  background-color: #5796b9;
  color: white;
  transform: translateY(-10px);
}
/* gives effects to button as well as color and size */
.btn-git {
  background-color: #2d2d2d;
  color: white;
  border: 1px solid white;
  transition: 300ms ease;
  width: 150px;
}
/* button hover effect to go up and change color */
.btn-git:hover {
  background-color: white;
  color: #2d2d2d;
  transform: translateY(-10px);
}
/* changes color and spacing for the footer buttons */
.footer-link {
  color: white;
  text-decoration: none;
  width: 100%;
  margin: 30px;
  display: block;
}
/* MEDIA QUERY for footer */
@media (min-width: 768px) {
  .footer-link {
    color: white;
    text-decoration: none;
    width: 20%;
    margin: 30px;
    display: inline;
  }
}
/* gives hover effects to the footer links */
.footer-link:hover {
  color: #5796b9;
  text-decoration: none;
}
/* accent shape for each section heading */
.accent {
  border-left: 10px solid white;
  padding-left: 20px;
}
/* line height for the about me section */
.lhcustom {
  line-height: 30px;
}
/* makes sure button stays this color */
.bg-dark {
  background: #2d2d2d !important;
}
